.fable/
.fake/
.vs/
obj/
bin/
packages/
.paket/load/
paket-files/
node_modules/
src/Client/public/js/
release.cmd
release.sh
.idea/
*.orig
*.DotSettings.user
deploy
.ionide/
**.fs.js
volumes/*
**tailwind-generated.css
*.js.map
**out/
.run
.vscode
.paket
